<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Product name</th>
        <th scope="col" class="px-6 py-3">Type</th>
        <th scope="col" class="px-6 py-3">Date & Time</th>
        <th scope="col" class="px-6 py-3">patientId</th>
        <th scope="col" class="px-6 py-3">description</th>
        <th scope="col" class="px-6 py-3">Status</th>
        <th scope="col" class="px-6 py-3">adminId</th>
      </tr>
    </thead>
    <tbody>
      @for (precription of precriptions; track $index) {
      <tr
        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ $index + 1 }}
        </th>
        <td class="px-6 py-4">{{ precription.type }}</td>
        <td class="px-6 py-4">{{ precription.dateTime }}</td>
        <td class="px-6 py-4">{{ precription.patientId }}</td>
        <td class="px-6 py-4">{{ precription.description }}</td>
        <td class="px-6 py-4">{{ precription.status }}</td>
        <td class="px-6 py-4">{{ precription.adminId }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
